@using CSHelper.Extensions
@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery antiforgery
@{
    ViewData["Title"] = "單位";
    ViewData["AutoReload"] = true;
    Layout = "_MenuLayout";
}
@{
    var antiforgery_token = antiforgery.GetAndStoreTokens(Context).RequestToken;
}

<div class="row">
    <div class="col">
        <h5>@ViewData["Title"]</h5>
    </div>
    <div class="col text-end align-self-end">
        <a class="btn btn-primary" role="button" asp-action="New">新增...</a>
    </div>
</div>

<div class="row py-2 align-items-end">
    <div class="col-auto">
        <label for="query_keyword" class="form-label">關鍵字</label>
        <input type="text" class="form-control" id="query_keyword">

    </div>
    <div class="col text-end">
        <button id="query_start" class="btn btn-primary" role="button">搜尋</button>
    </div>
</div>

<div class="flex-grow-1 table-parent">

    <table id="table"
           data-cs-table
           class="table h-100 table-hover"
           data-cs-url="@Url.ActionLink("CompanyQuery")"
           data-cs-sort-field="name"
           data-cs-sort-order="desc"
           data-cs-on-prepare-fetch="onPrepareFetch">
        <thead>
            <tr>
                <th data-cs-field="id" data-cs-sortable="local">ID</th>
                <th data-cs-field="name" data-cs-sortable="local">名稱</th>
                <th data-cs-field="credit" data-cs-sortable="local">信⽤</th>
                <th data-cs-field="remarks" data-cs-sortable="local">備註</th>
                <th data-cs-field="action" data-cs-formatter="editFormatter">功能</th>
            </tr>
        </thead>
    </table>

</div>

<div aria-hidden="true" role="dialog" tabindex="-1" id="modal-confirm-delete-popup" class="modal fade">
    <div class="modal-dialog">
    </div>
</div>

@section Scripts {

    <script>

        function onPrepareFetch(params, options, table) {
            params.append('search', $('#query_keyword').val());
        }

        var reloadNow;

        $(function () {
            let tableEle = document.getElementById('table');
            let table = CSTable.getInstance(tableEle);

            table.addEventListener('clickcell', evt => {
                 if ( evt.detail.fieldname != 'action') {
                    window.location.href = '@Url.Action("Edit")?id=' + evt.detail.data.id;
                }
            });

            

            $(tableEle).on('click', '.btn-delete', (e) => {

                var btn = $(e.currentTarget);
                var rowID = btn.data('index');

                $.ajax({
                    url: '@Url.Action("Delete")',
                    data: { 
                        id: rowID,
                        __RequestVerificationToken: '@antiforgery_token'
                    },
                    type: 'post',
                    beforeSend: function () {
                        return confirm('確認刪除?');
                    },
                    success: function () {
                        reloadNow();
                    },
                    error: function () {
                        alert('無法刪除')
                    }
                })
            });

            $('#query_start').on('click', evt => {
                evt.preventDefault();    // prevent default behavior
                reloadNow();
            });

            reloadNow = () => {
                table.fetch();
            }

        })


        function editFormatter(data, row, table) {
            return document.createRange()
                .createContextualFragment('<button type="button" data-index="' + table.data[row].id + '" class="btn-delete btn"><i class="fas fa-trash"></i></button>');
        }

    </script>

}