@{
    Layout = null;
}
<!DOCTYPE html>

<html lang="zh-tw" class="h-100">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>拒絕存取</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/dist/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="h-100">

    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-10 col-md-9 col-lg-8 col-xl-6">
                <div class="card-body d-grid px-5 gap-3 py-4 ">
                    <div class="text-center">
                        <img src="~/img/logo.png" />
                        <h2 class="card-title">管理平台</h2>
                        <h3>拒絕存取</h3>
                    </div>
                    <button type="button" class="btn btn-primary btn-back"><i class="fas fa-caret-left"></i> 返回</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery-3.6.0.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {

            // make back buttons clickable
            $(".btn-back").on("click", function (e) {
                e.preventDefault();
                window.history.back();
            });

        });
    </script>
</body>
</html>