@{
    Layout = null;
}
<!DOCTYPE html>

<html lang="zh-tw" class="h-100">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>登入 - 電腦問題報修系統</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/dist/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="h-100">

    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-10 col-md-9 col-lg-8 col-xl-6">
                <!-- Form -->
                <form class="login card shadow" method="post" asp-action="login" asp-route-returnUrl="@ViewBag.returnUrl">
                    @Html.AntiForgeryToken()
                    <div class="card-body d-grid px-5 gap-3 py-4 ">
                        <div class="text-center">
                            <img src="~/img/logo-man.svg" class="w-100" />
                            <h2 class="card-title">電腦問題報修系統</h2>
                        </div>
                        @if (ViewBag.Error != null)
                        {
                            <div class="alert alert-danger alert-dismissible">
                                <strong>錯誤: </strong> @ViewBag.error
                            </div>
                        }
                        <!-- Input fields -->
                        <div class="form-group">
                            <label for="username">帳號</label>
                            <input type="text" class="form-control username" id="username" placeholder="使用者..." name="username">
                        </div>
                        <div class="form-group">
                            <label for="password">密碼</label>
                            <input type="password" class="form-control password" id="password" placeholder="密碼..." name="password">
                        </div>
                    </div>
                    <div class="card-footer d-grid px-5 py-3">
                        <button type="submit" class="btn btn-primary btn-customized">登入</button>
                    </div>

                </form>
                <!-- Form end -->
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery-3.6.0.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>