@{
}
<!--Modal Body Start-->
<div class="modal-content">

    <form id="login" asp-action="DeleteCat">
        <!--Modal Header Start-->
        <div class="modal-header">
            <h4 class="modal-title">確認刪除</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="關閉" />
        </div>
        <!--Modal Header End-->

        <div class="modal-body">

            @Html.AntiForgeryToken()
            @Html.Hidden("id", ViewData["ID"] )
            <div class="mb-3">
                確認刪除
            </div>

            <div class="alert alert-danger d-none" role="alert">
            </div>

        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
            <button type="submit" class="btn btn-primary">確定</button>
        </div>
    </form>

    <script>

    $(() => {
        $("#login").initAsAjaxForm({
            success: function (data) {
                $(this).closest('.modal').modal('hide');
                var tableEle = document.getElementById('table');
                var table = CSTable.getInstance(tableEle);

                table.fetch();
            }
        }
        );
    })
    </script>

</div>
<!--Modal Body End-->  