<!--Modal Body Start-->
<div class="modal-content">

    <form id="change-password" asp-action="ChangePassword" asp-route-id="@ViewData["ID"]">
        <!--Modal Header Start-->
        <div class="modal-header">
            <h4 class="modal-title">更改密碼</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="關閉" />
        </div>
        <!--Modal Header End-->

        <div class="modal-body">

            @Html.AntiForgeryToken()

            @if ((bool)ViewData["IsCurrUser"])
            {
                <div class="mb-3">
                    <label for="old-password" class="col-form-label">舊密碼:</label>
                    <input type="password" class="form-control" id="old-password" name="oldpass">
                </div>
            }
            <div class="mb-3">
                <label for="new-password" class="col-form-label">新密碼:</label>
                <input type="password" class="form-control" id="new-password" name="pass">
            </div>
            <div class="mb-3">
                <label for="verify-password" class="col-form-label">新密碼確認:</label>
                <input type="password" class="form-control" id="verify-password">
            </div>

            <div class="alert alert-danger d-none" role="alert">
            </div>

        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            <button type="submit" class="btn btn-primary">更改</button>
        </div>
    </form>

</div>
<!--Modal Body End-->  
<script>

    $(() => {
        $("#change-password").initAsAjaxForm({
            success: function (data) {
                $(this).closest('.modal').modal('hide');
            },
            validate: function () {
                var form = $(this);
                if (form.find('#new-password').val() != form.find('#verify-password').val()) {
                    return "新密碼與確認密碼不同";
                }

                return null;
            }
        }
        );
    })
</script>