@{
    ViewData["Title"] = "平台設定";
    ViewData["AutoReload"] = true;
    Layout = "_MenuLayout";
}
<div class="container-fluid h-100 d-flex flex-column">
    <div class="row py-3">
        <div class="col">
            <h5>本功能等待更新中，故暫無資料。</h5>
        </div>
        <div class="col text-end">
        </div>
    </div>

    <div class="row py-3 align-items-end">
    </div>

    <div class="row flex-grow-1">
        <div class="col table-parent">

        </div>

    </div>
</div>

@section Scripts {
    <script>

    </script>
} 