@{
    ViewData["Title"] = "平台設定";
    ViewData["AutoReload"] = true;
    Layout = "_MenuLayout";
}
<div class="container-fluid h-100 d-flex flex-column">
    <div class="row py-3">
        <div class="col">
        </div>
        <div class="col text-end">
        </div>
    </div>

    <div class="row py-3 align-items-end">
    </div>

    <div class="row flex-grow-1">
        <div class="col">
            <h2>公司內部設定</h2>

            <a class="btn btn-primary" asp-controller="Admin" asp-action="GroupSetting">部門清單</a>

        </div>
        <div class="col">
            <h2>
                案件設定
            </h2>

            <a class="btn btn-primary" asp-controller="Project" asp-action="ImportanceSetting">重要性清單</a>
            <a class="btn btn-primary" asp-controller="Project" asp-action="SubtypeSetting">細項清單</a>
        </div>
        <div class="col">
            <h2>
                單位設定
            </h2>

            <a class="btn btn-primary" asp-controller="Company" asp-action="CreditRatingSetting">性用清單</a>
        </div>
        <div class="col">
            <h2>
                商品設定
            </h2>

            <a class="btn btn-primary" asp-controller="Product" asp-action="BrandSetting">品牌清單</a>
        </div>
    </div>
</div>

@section Scripts {
    <script>

    </script>
} 